.main-app-container {
    width: 90vw;
}

.post-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 720px) {
    .post-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .main-app-container {
        margin-left: 1rem;
    }
}